*{
    font-family: Arsenal, Arial;
    font-size: 16pt;
}

h1{
    margin-top:8%;
    font-size: 38pt;
}

h2{
    font-size: 18pt;
}

h3{
    font-size: 16pt;
}

.subtitle{
    margin-bottom: 5%;
}

#landingPage{
    background: #6EA2A5;
    position:absolute;
    left:0;
    right:0;
    top:0;
    padding:1%;
    min-height: 96%;
    width:auto;
    margin:1%;
    border-radius: 20px;
}

.column{
    background-color: darkslategray;
    border-radius: 25px;
    color: white;
    padding:20px;
    margin-top:10px;
    font-size: 12pt;
    vertical-align: middle;
    height:80%;
}

.centered{
    margin-top:15px;
    text-align: center;
}

.smaller{
    width:60%;
    margin-left: auto;
    margin-right: auto;
}

button{
    margin-top: 2%;
    margin-bottom: 2%;
}